.contact-icon {
    color: $gray-900;
    &:active,
    &:focus,
    &:hover {
      color: $primary;
    }
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}